*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: bungee, sans-serif;
    font-weight: 500;
}

.container{
    width: 60%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}


.title h1{
    text-align: center;
    padding: 20px;
    font-size: 60px;
    text-transform: uppercase;
    color: lightslategray;
}

.game{
    width: 100%;
    display: flex;
    align-items: center;
}

.player, .computer{
    width: calc(100% / 2);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-side, .computer-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-side h2, .computer-side h2{
    height: 100px;
    margin-top: 70px;
}

.player-dice, .computer-dice{
    background-color: #e7e7e7;
    box-shadow: inset -5px 0 #d7d7d7;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    position: relative;
}

.player-dice span, .computer-dice span{
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.text_shadows {
    text-transform: uppercase;
    font-size: calc(2rem + 1vw);
    text-align: center;
    margin: 0;
    color: #f6aca2;
    color: transparent;
    background-color: white;
    background-clip: text;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
  }
  
  @keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      text-shadow: 3px 3px 0 #f49b90;
    }
    20% {
      text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d;
    }
    30% {
      text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d, 9px 9px #f07a6a;
    }
    40% {
      text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d, 9px 9px #f07a6a,
        12px 12px 0 #ee6352;
    }
    50% {
      text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d, 9px 9px #f07a6a,
        12px 12px 0 #ee6352
    }
    60% {
      text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d, 9px 9px #f07a6a,
        12px 12px 0 #ee6352
    }
    70% {
      text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d, 9px 9px #f07a6a;
    }
    80% {
      text-shadow: 3px 3px 0 #f49b90,
        6px 6px 0 #f28b7d;
    }
    90% {
      text-shadow: 3px 3px 0 #f49b90;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    40% {
      transform: translate(-12px, -12px);
    }
    50% {
      transform: translate(-12px, -12px);
    }
    60% {
      transform: translate(-12px, -12px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

